.turn{
	margin-left: 6%;
}

#turnleft:hover{
    transform: rotate(-45deg);
}

#turnright:hover{
    transform: rotate(45deg);
}

#snow-ball{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
}

#snow-ball{
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

body {
  background:#004966;
}

p{
	font-family: 'Cedarville Cursive', cursive;
	font-size: 150%;
}

h1{
	color: #D5BB80;
	font-family: 'Cedarville Cursive', cursive;
	font-size: 300%;
	text-align:center;
	margin-top:5%;
	margin-bottom: 5%;
	font-weight: normal;
}

/* Popover */
  .popover {
      border: 2px black;
  }
  /* Popover Header */
  .popover-title {
      background-color: #73AD21; 
      color: #FFFFFF; 
      font-size: 28px;
      text-align:center;
  }
  /* Popover Body */
  .popover-content {
      background-color: #D2D2D2;
      color: black;
      padding: 10px;
  }
  /* Popover Arrow */
  .arrow {
      border-right-color: red !important;
  }

